@import url("https://fonts.googleapis.com/css?family=Hind+Siliguri|Noto+Sans|Inconsolata|Bitter");
/* General stuff */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

div {
  /* font-family: 'Hind Siliguri', sans-serif; */
  font-family: 'Noto Sans', sans-serif; }

body {
  padding: 1em;
  padding-top: 0; }

h1, h2 {
  font-family: 'Bitter', serif; }

h2 {
  font-size: 1.8em; }

a {
  text-decoration: none;
  color: #290; }

/* Toolbar with directory buttons, user logout button etc. */
div#toolbar {
  background-color: #4b0;
  padding: 0.8em;
  color: #ffb; }
  div#toolbar a {
    color: #050; }
  div#toolbar div {
    display: inline-block; }
  div#toolbar div#dir_buttons {
    width: 49%; }
    div#toolbar div#dir_buttons span {
      margin: 0 1em 0 0.5em;
      font-size: 1.2em; }
    div#toolbar div#dir_buttons div {
      display: inline-block;
      padding: 0.5em;
      margin-right: 0.5em;
      background-color: #df9; }
  div#toolbar div#user_buttons {
    width: 50%;
    text-align: right; }
    div#toolbar div#user_buttons div#grid_buttons {
      margin-right: 4em; }
    div#toolbar div#user_buttons span {
      margin-left: 1em; }
    div#toolbar div#user_buttons span.user_btn {
      font-size: 1.2em; }
    div#toolbar div#user_buttons span.adjust_square {
      font-size: 1.1em;
      position: relative;
      top: -1px; }

/* Image & file grid, based on
   http://alijafarian.com/responsive-image-grids-using-css */
ul.rig {
  list-style: none;
  font-size: 0px;
  margin-top: 3rem;
  margin-left: -2.5%;
  /* should match li left margin */
  color: #290; }
  ul.rig li {
    display: inline-block;
    font-size: 16px;
    font-size: 1rem;
    vertical-align: top;
    margin: 0 0 2.5% 2.5%; }
    ul.rig li img {
      max-width: 100%;
      height: auto;
      margin: 0; }
  ul.rig li.icon {
    background-color: #df9;
    padding: 10px; }

ul.columns-10 li {
  width: 7.5%; }

/* This + li margin 2.5% is 10% of space */
ul.columns-4 li {
  width: 22.5%; }

/* This + li margin 2.5% is 25% of space */
ul.columns-1 li {
  width: 97.5%; }

/* This + li margin 2.5% is 100% of space */
/* Turn the grid into a one-column Instagramish layout for mobiles UNTESTED */
@media (max-width: 480px) {
  ul.rig {
    margin-left: 0; }
    ul.rig li {
      width: 100% !important;
      /* over-ride all li styles */
      margin: 0 0 20px; } }
/* General form styles */
input[type='text'], input[type='password'] {
  font-family: 'Inconsolata', monospace;
  font-size: 1em;
  padding: 0.5em;
  background-color: #df9;
  color: #290;
  border: 0; }

/* Directory form styles */
form#directory_form {
  display: none;
  margin-top: 2px; }

/* Login form styles */
div.loginform {
  width: 400px;
  margin: auto;
  padding: 1em;
  padding-top: 0.1em;
  background-color: #4b0;
  color: white;
  /* For the checkbox, we remove the actual checkbox and use/style the label.
   * #rembutton is the button and #remlabel is the actual label.
   * A Fontawesome icon is used for the check inside #rembutton.
   * Old browsers which don't understand "not(old)" shouldn't hide the checkbox. */
  /* The <i> tag is visible when checkbutton is checked */ }
  div.loginform h2 {
    margin-bottom: 0.4em; }
  div.loginform input {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: #df9;
    color: #290; }
  div.loginform input[type='checkbox']:not(old) {
    display: none; }
  div.loginform input[type='checkbox'] + label span#rembutton:not(old) {
    display: inline-block;
    height: 1.5em;
    width: 1.3em;
    padding: 2px;
    margin-top: 0.5em;
    background-color: #df9;
    color: #4b0;
    vertical-align: bottom; }
  div.loginform input[type='checkbox'] + label span#remlabel {
    display: inline-block;
    height: 1.5em;
    margin: 0.5em 0 0 0.5em;
    color: #df9;
    vertical-align: bottom;
    font-size: 0.9em; }
  div.loginform input[type='checkbox'] + label i {
    display: none; }
  div.loginform input[type='checkbox']:checked + label span#rembutton i {
    display: inline-block; }
  div.loginform input[type='submit'] {
    margin-top: 1.2em;
    height: 3.5em;
    font-size: 1.2em;
    color: #4b0; }

/*# sourceMappingURL=lidpix.css.map */
