@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri|Noto+Sans|Inconsolata|Bitter');

$bright_color: #df9;
$brighter_color: #ffb;
$dark_color: #4b0;
$darker_color: #290;
$darkest_color: #050;

$thumb_width: 150px;
$thumb_height: 200px;


/* General stuff */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

div {
  /* font-family: 'Hind Siliguri', sans-serif; */
  font-family: 'Noto Sans', sans-serif;
}

body {
  padding: 1em;
  padding-top: 0;
}

h1, h2 {
  font-family: 'Bitter', serif;
}

h2 {
  font-size: 1.8em;
}

a {
  text-decoration: none;
  color: $darker_color;
}


/* Toolbar with directory buttons, user logout button etc. */
div#toolbar {
  background-color: $dark_color;
  padding: 0.8em;
  color: $brighter_color;
  a {color: $darkest_color;}
  
  div {display: inline-block;}
  
  div#dir_buttons {
    width: 49%;
    
    span { 
      margin: 0 1em 0 0.5em;
      font-size: 1.2em;
    }
    
    div {
      display: inline-block;
      padding: 0.5em;
      margin-right: 0.5em;
      background-color: $bright_color;
    }
  }
  
  div#user_buttons {
    width: 50%;
    text-align: right;
    
    div#grid_buttons {
      margin-right: 4em;
    }
    
    span {
      margin-left: 1em;
    }
    
    span.user_btn {
      font-size: 1.2em;
    }
    
    span.adjust_square {
      font-size: 1.1em;
      position: relative;
      top: -1px;
    }
  }
}


/* Image & file grid, based on
   http://alijafarian.com/responsive-image-grids-using-css */
ul.rig { 
  list-style: none;
  font-size: 0px;
  margin-top: 3rem;
  margin-left: -2.5%; /* should match li left margin */
  color: $darker_color;
  
  li {
    display: inline-block;
    font-size: 16px;
    font-size: 1rem;
    vertical-align: top;
    margin: 0 0 2.5% 2.5%;
    
    img {
      max-width: 100%;
      height: auto;
      margin: 0;
    }
  }
  li.icon {
    background-color: $bright_color;
    padding: 10px;
  }
}
ul.columns-10 li {width: 7.5%;}  /* This + li margin 2.5% is 10% of space */
ul.columns-4 li {width: 22.5%;}  /* This + li margin 2.5% is 25% of space */
ul.columns-1 li {width: 97.5%;}  /* This + li margin 2.5% is 100% of space */



/* Turn the grid into a one-column Instagramish layout for mobiles UNTESTED */
@media (max-width: 480px) {
  ul.rig {
    margin-left: 0;
    li {
      width: 100% !important; /* over-ride all li styles */
      margin: 0 0 20px;
    }
  }
}


/* General form styles */

input[type='text'], input[type='password'] {
  font-family: 'Inconsolata', monospace;
  font-size: 1em;
  padding: 0.5em;
  background-color: $bright_color;
  color: $darker_color;
  border: 0;
}

/* Directory form styles */

form#directory_form {
  display: none;
  margin-top: 2px;
}


/* Login form styles */

div.loginform {
  width: 400px;
  margin: auto;
  padding: 1em;
  padding-top: 0.1em;
  background-color: $dark_color;
  color: white;
  
  h2 {
    margin-bottom: 0.4em;
  }
  
  input {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: $bright_color;
    color: $darker_color;
  }
  
  /* For the checkbox, we remove the actual checkbox and use/style the label.
   * #rembutton is the button and #remlabel is the actual label.
   * A Fontawesome icon is used for the check inside #rembutton.
   * Old browsers which don't understand "not(old)" shouldn't hide the checkbox. */
  input[type='checkbox']:not(old) {
    display: none;
  }
  input[type='checkbox'] + label {
    span#rembutton:not(old) {
      display: inline-block;
      height: 1.5em;
      width: 1.3em;
      padding: 2px;
      margin-top: 0.5em;
      background-color: $bright_color;
      color: $dark_color;
      vertical-align: bottom;
    }
    span#remlabel {
      display: inline-block;
      height: 1.5em;
      margin: 0.5em 0 0 0.5em;
      color: $bright_color;
      vertical-align: bottom;
      font-size: 0.9em;
    }
    i {
      display: none
    }
  }
  /* The <i> tag is visible when checkbutton is checked */
  input[type='checkbox']:checked + label span#rembutton i {
    display: inline-block;
  }
  
  input[type='submit'] {
    margin-top: 1.2em;  
    height: 3.5em;
    font-size: 1.2em;
    color: $dark_color;
  }
}
