@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri|Noto+Sans|Inconsolata|Bitter|Slackey|Audiowide');

$bright_color: #df9;
$brighter_color: #efb;
$dark_color: #4b0;
$darker_color: #290;
$darkest_color: #050;
$grey: #999;

$thumb_width: 150px;
$thumb_height: 200px;


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


/* General stuff */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* This is the base font-size, which all em and rem are based on */
html {
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  /* font-family: 'Hind Siliguri', sans-serif; */
}

body { 
  margin: 0;
  padding: 0;
}

div#outer_container { width: 100%; }

h1, h2, h3 { font-family: 'Slackey', serif; }
h1 { font-size: 3.125em; }
h2 { font-size: 2.3125em; }
h3 { font-size: 1.75em; margin: 0;}

a {
  text-decoration: none;
  color: $darker_color;
}

/* Toolbar with directory buttons, grid and user buttons etc. */
div#toolbar {
  width: 100%;
  background-color: $dark_color;
  padding: 0.8em;
  color: $brighter_color;
  box-shadow: 0px 3px 2px 0px #999;
  a { color: $darkest_color; }
  
  div, span { display: inline-block; }
  span { font-size: 1.2em; }
  
  h3 { color: white; }
  
  div#title {
    width: 5.5%;
  }
  
  div#folder_button {
    width: 3.5%;
    padding-left: 2.5em;
  }
  
  /* This directory chooser shows up when the folder button is pressed */
  div#dir_field {
    width: 40%;
    visibility: hidden;
    * { display: inline-block; }
    padding-left: 0.5em;
    position: relative;
    top: -3px;
    
    div#dir_buttons div {
      padding: 0.5em;
      background-color: $bright_color;
      font-size: 0.9em;
      border-radius: 3px;
    }
    
    span.fa {
      margin-left: 1em;
      position: relative;
      top: 1px;
    }
    
    form#directory_form {  /* Also see general form styles below */ 
      max-width: 50%;
      margin-left: 0.2em;
      
      input[type='text'] {
        max-width: 100%;
        width: 100%;
        font-size: 0.9em;
        padding: 0.3em;
        padding-left: 0.5em;
        background-color: $bright_color;
        color: $darkest_color;
      }
      input[type='text']:focus {
        background-color: $brighter_color;
      }
    }
  } /* end of #dir_field */
  
  
  div#grid_buttons, div#user_buttons {
    width: 25%;
    text-align: right;
    
    span { margin-left: 1.2em; }
  }
  
  a.grid_btn_selected {
    color: $darker_color;    /* Brighter than normal unselected color */
  }
  
  div#grid_buttons span.adjust_square { /* The single square needs a lil' nudge */
    font-size: 1.1em;
    position: relative;
    top: -1px;
  }
  
  div#user_buttons span#logged_in_as {
    font-size: 1em;
  }
} /* end of #toolbar */


div#status_field {
  padding: 0.5em;
  color: $dark_color;
}


/* Image & file grid, based on
   http://alijafarian.com/responsive-image-grids-using-css */
ul.rig { 
  list-style: none;
  font-size: 0px;
  margin-top: 3rem;
  margin-left: -2.5%; /* should match li left margin */
  color: black;
  a { color: black; }
  
  li {
    display: inline-block;
    font-size: 16px;
    font-size: 1rem;
    vertical-align: top;
    margin: 0 0 2.5% 2.5%;
    background-color: white;
    padding: 1em;
    box-shadow: 2px 2px 2px #999;
    
    img {
      max-width: 100%;
      height: auto;
      margin: 0;
    }
    
    p { font-size: 0.8em; }
  }
  li.icon {
    background-color: $bright_color;
    padding: 10px;
  }
}
ul.columns-10 li {width: 7.5%;}  /* This + li margin 2.5% is 10% of space */
ul.columns-4 li {width: 22.5%;}  /* This + li margin 2.5% is 25% of space */
ul.columns-1 li {width: 97.5%;}  /* This + li margin 2.5% is 100% of space */



/* Turn the grid into a one-column Instagramish layout for mobiles UNTESTED */
@media (max-width: 480px) {
  ul.rig {
    margin-left: 0;
    li {
      width: 100% !important; /* over-ride all li styles */
      margin: 0 0 20px;
    }
  }
}


/* General form styles */

input[type='text'],
input[type='password'] {
  font-size: 1em;
  background-color: $bright_color;
  color: $darker_color;
  border: 0;
}


/* Login form styles */

div.loginform {
  width: 400px;
  margin: auto;
  padding: 1em;
  padding-top: 0.1em;
  background-color: $dark_color;
  color: white;
  
  h2 {
    margin-bottom: 0.4em;
  }
  
  input {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: $bright_color;
    color: $darker_color;
  }
  
  input[type='text'],
  input[type='password'] {
    font-family: 'Inconsolata', monospace;
  }
  
  /* For the checkbox, we remove the actual checkbox and use the label.
   * #rembutton becomes the button and #remlabel is the actual label.
   * A Fontawesome icon is used for the check inside #rembutton.
   * Old browsers which don't understand "not(old)" shouldn't hide the checkbox. */
  input[type='checkbox']:not(old) {
    display: none;
  }
  input[type='checkbox'] + label {
    span#rembutton:not(old) {
      display: inline-block;
      height: 1.5em;
      width: 1.3em;
      padding: 2px;
      margin-top: 0.5em;
      background-color: $bright_color;
      color: $dark_color;
      vertical-align: bottom;
    }
    span#remlabel {
      display: inline-block;
      height: 1.5em;
      margin: 0.5em 0 0 0.5em;
      color: $bright_color;
      vertical-align: bottom;
      font-size: 0.9em;
    }
    i {
      display: none
    }
  }
  /* The <i> tag is visible when checkbutton is checked */
  input[type='checkbox']:checked + label span#rembutton i {
    display: inline-block;
  }
  
  input[type='submit'] {
    margin-top: 1.2em;  
    height: 3.5em;
    font-size: 1.2em;
    color: $dark_color;
    border: 0;
  }
}
