@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri|Noto+Sans|Inconsolata');

$std_border_color: #4c1;
$std_bg_color: #cf8;

$thumb_width: 200px;
$thumb_height: 267px;

div {
  /* font-family: 'Hind Siliguri', sans-serif; */
  font-family: 'Noto Sans', sans-serif;
  margin: 1em;
}

div#imagedir {
  background-color: $std_bg_color;
}

div.dir_button {
  float: left;
  padding: 1em;
  margin: 0.5em 0em 0.5em 0.5em;
  border: 1px $std_border_color solid;
}

input {
  font-family: 'Inconsolata', monospace;
  font-size: 1em;
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: 1px $std_border_color solid;
}

div.icon {
  width: $thumb_width;
  height: $thumb_height;
  background-color: $std_bg_color;
  padding: 1em;
}
