{% extends "layout.html" %}
{% block body %}
  
  <!-- Actual images and files -->
  <ul id="thumbs_area" class="rig columns-10">
    <!-- Here we'll put thumbnails and stuff that we get through Javascript and JSON -->
  </ul>

{% endblock body %}

{% block javascr %}
  <script src="{{ url_for('static', filename='javascript/lidpix.js') }}"></script>
{% endblock javascr %}


<!-- In case blueprints are active you can shortcut references to the same 
blueprint by prefixing the local endpoint with a dot (.). 
http://flask.pocoo.org/docs/0.10/api/ -->
