<!doctype HTML>
<html>
  <head>
		<title>Lidpix thumbnails</title>
    <link rel="stylesheet" href="static/lidpix.css">
	</head>
	<body>
    <div id="imagedir">
      {% for d in dirs %}
        <a href="{{ url_for('gallery', imagedir=d[0]) }}">
          <div class="dir_button">{{ d[1] }}</div>
        </a>
      {% endfor %}
    </div>
		<div id="directory_form">
			<form action="/gallery" method="POST">
        <input type="text" name="imagedir" value="{{ imagedir }}"
         size=50>
      </form>
		</div>
		{% for item in thumbs %}
			<div style="margin: 10px">
        <a href="{{ url_for('serveimage', image=imagedir+'/'+item) }}">
          {% if showthumbs %}
            <img src="{{ url_for('serveimage', image=imagedir+'/thumbs/'+item) }}">
          {% else %}
            <div class="thumbnail">
            </div>
          {% endif %}
        </a>
			</div>
		{% endfor %}
	</body>
</html>
