<!doctype HTML>
<html>
  <head>
		<title>Lidpix thumbnails</title>
	</head>
	<body>
		<!-- <div style="margin: 10px">
			<p>{{ imagepath }}</p>
		</div> -->
		<div id="directory">
			<form action="/gallery" method="POST">
        <input type="text" name="directory" value="{{ directory }}"
         size=50>
      </form>
      {{ thumbdir }}
		</div>
		{% for item in images %}
			<div style="margin: 10px">
				<!-- <img src="{{ url_for('static', filename = 'thumbs/' + item) }}"> -->
        <img src="http://localhost:5000/thumbs/{{ item }}">
			</div>
		{% endfor %}
	</body>
</html>
