<!DOCTYPE html>
<html>
  <head>
    <title>flask-login test</title>
    <link rel='stylesheet' href='static/stylesheets/lidpix.css'>
  </head>
  <body>
    <!-- Flashed messages: -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class='flashes'>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    
    <!-- Actual page: -->
    {% block body %}{% endblock %}
    
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
    <script>
        window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery-3.1.1.js') }}">\x3C/script>')
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    
  </body>
</html>
