{% extends "layout.html" %}
{% block body %}

  {#
    {% if error %}
      <p class="error">Error: {{ error }}</p>
    {% endif %}
  #}
  
  <div class="loginform">
    <h2>Login</h2>
    <form method="POST">
      {{ form.username() }}
      {{ form.password() }}
      {{ form.remember() }}<label for="remember"><span class="checkbutton"><i class="fa fa-check"></i></span><span class="checklabel">Remember me</span></label>
      <!-- {{ form.remember.label }} -->
      <input type="submit" value="Login" />
    </form>
  </div>
{% endblock %}
