{# This template should be included in folder.html and possibly others #}

<div id="toolbar">
  
  <!-- Directory buttons -->
  <div id="dir_buttons">
    {% for d in dirs %}
      <a href="{{ url_for('.folder_view', imagedir=d[0]) }}">
        <div>{{ d[1] }}</div>
      </a>
    {% endfor %}
  </div>
  
  <div id="layout_buttons">
    <span class="fa fa-square adjust_square"></span>
    <span class="fa fa-th-large"></span>
    <span class="fa fa-th"></span>
  </div>
  
  <!-- User buttons (logout, settings, etc.) -->
  <div id="user_buttons">
    Logged in as {{ username }}&nbsp;
    <a href="">
      <span class="fa fa-gear"></span>
    </a>
    <a href="{{ url_for('authz.logout') }}">
      <span class="fa fa-sign-out"></span>
    </a>
  </div>
  
</div>
